
/* Generic class */

.txt-center {
	text-align: center;
}


/* Section confiance */

.confiance {
	padding: 40px 0;
}

.confiance h2 {
	margin: 20px 0;
	font-size: 41px;
}

.confiance-list {
	list-style: none;
	margin: 0;
}

.confiance-list li {
	display: inline-block;
	margin-right: 40px;
}

.confiance-list li:last-child {
	margin-right: 0
}

/* Section comment */

.testimonial {
	font-size: 26px;
	letter-spacing: 0.3px;
	line-height: 30px;
	margin-top: 20px;
}

.testimonial h2 {
	margin: 20px 0;
	font-size: 41px;
}

.testimonial-author {
	display: block;
	font-size: 16px;
	color: dimgrey;
}

